table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    background: var(--creme);
  }
  
  thead {
    background: var(--vert);
    color: var(--creme);
  }
  
  th,
  td {
    text-align: left;
    padding: 1rem;
    border: 1px solid var(--bleu);
    font-family: var(--p);
  }
  
  th {
    font-size: 1.1rem;
  }
  
  td {
    font-size: 1rem;
  }
  
  tr {
    background: var(--creme);
    color: var(--bleu);
  }
  
  iframe.plan {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    table {
      font-size: 0.9rem;
    }
  
    th,
    td {
      padding: 0.8rem;
    }
  
    a {
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
    }
  
    iframe.plan {
      height: 150px;
    }
  }
  