ul li{
    text-decoration: none;
    list-style: none;
}
h1{
    font-family: var(--h);
    font-size: 3rem;
    color: var(--vert);
    display: block;
    width: 100%;
    text-align: center;
    padding: 2vh 0;
    margin: 2vh;
}
h2{
    font-family: var(--h);
    font-size: 2rem;
    color: var(--vert);
    display: block;
    width: 100%;
    margin: 2vh;
}

p li{
    font-family: var(--p);
    font-size: 1rem;
    color: var(--bleu);
}

strong{
    font-family: var(--h);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--vert);
}
.profile-info {
    background-color: var(--creme);
    padding: 20px;
}
@media screen and (max-width: 769px) {
    h1{
        font-size: 1.5rem;
    }
  h2{
    font-size: 1rem;
  }

  p, li{
    font-size: .6rem;
  }

  strong{
    font-size: .7rem
  }
}