#hygiene{
  padding-top: 10vh;
}
ol{
    list-style-type: none;
    text-decoration: none;
}
h1{
    font-family: var(--h);
    font-size: 3rem;
    color: var(--vert);
    display: block;
    width: 100%;
    text-align: center;
    padding: 2vh 0;
    margin: 2vh;
}
h3{
    font-family: var(--h);
    font-size: 1.5rem;
    color: var(--vert);
    margin: 2vh auto;
}
p, li{
    font-family: var(--p);
    font-size: 1rem;
    color: var(--bleu);
}
span{
    font-family: var(--h);
    font-size: 2rem;
    font-weight: 600;
    color: var(--orange-foncé);
}
.info {
    display: block;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid var(--vert);
    border-radius: 30px;
}
@media screen and (max-width: 769px) {
  #hygiene{
    padding-top: 0%;
    height:150vh;
  }
  h1{
    font-size: 1.5rem;
  }

  h3{
font-size: 1rem;
  }
  p, li{
    font-size: .5rem;
  }

span{
    font-size: 1rem;
}
    }