#section-profil{
    padding-top: 10vh;
}
h1{
    font-family: var(--h);
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--vert);
    margin: 2vh;
}
.title2{
    font-family: var(--h);
    font-weight: 600;
    font-size: 2rem;
    color: var(--vert);
    text-align: center;
    margin: 2vh;
    padding-bottom: 5vh;

}

.user-lastname, .donation{
    font-family: var(--h);
    font-weight: 600;
    font-size: 2rem;
    color: var(--vert);
}
#profil img{
    border-radius: 50%;
    width: 400vw;
    height: 400vh; 
    max-width: 400px; /* Limite la taille maximum sur les grands écrans */
    max-height: 400px;
}

#profil{
    display:block;
    width: 40%;
    margin: 0 auto; 
    text-align: center;
    padding: inherit;
}
/* Centrage des sections et des listes */

#dons-container-profil {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90%;
    margin: 0 auto;
    gap: 20px;
    padding: 10vh;
}

/* Style pour chaque section */
.don-profil {
    border: 2px solid var(--vert);
    border-radius: 30px;
    padding: 20px;
    flex: 1;
    max-width: 48%;
    text-align: center;
}
/* Styles pour les listes */
.don-profil ul {
    margin: 0 auto; /* Centre les listes horizontalement */
    padding-left: 0; /* Supprime le padding gauche par défaut */
    list-style-type: circle ;
 
}

/* Alignement du lien <a> à droite */
.don-profil .gift {
    display: block; /* Pour forcer le lien à occuper toute la largeur */
    text-align: right; /* Aligne le lien à droite */
    margin-top: 10px;
    text-decoration: none; /* Pour enlever le soulignement */
    transition: color 0.3s ease;
}
.gift{
    font-family: var(--p);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--vert);

}
.gift:hover,
.gift:focus 
{
    color: var(--orange-foncé);
}

.gift:active {
    color: var(--orange-foncé);
}
/* Pour les éléments de la liste */
li {
    font-family: var(--p);
    font-weight: 400;
    font-size: 1rem;
    color: var(--bleu);
    text-align: left; /* Assure que le texte des items est aligné à gauche */
}

.donation-date {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.donation-date .date {
    font-weight: bold;
    margin-right: 20px;
}

.donation-date ul {
    margin: 0 auto; /* Centre les sous-listes */
    padding-left: 0;
}

.donation-date ul li {
    margin-left: 20px;
    font-family: var(--p);
}

#quartier-profil {
    border: 2px solid var(--vert);
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    max-width: 80vw;
}

#quartier h2 {
    text-align: center;
    font-family: var(--h);
    font-size: 2rem;
    color: var(--vert);
}

.quartiers{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.quartier-info {
    flex: 1;
}

#plan {
    flex: 1;
    border: 2px solid var(--vert);
    border-radius: 30px;
    width: 40vw;
    height: 50vh;
}

.quartier-info h3, .quartier-info p {
    text-align: left;
    font-family: var(--p);
    font-size: 1.2rem;
    color: var(--bleu);
}

#profil-params-profil {
	display: none;
}
@media screen and (max-width: 769px) {
 #section-profil{
    height: 240vh; 
    padding-top: 0%;
 }
    #profil img {
        width: 100px; 
        height: 50px;
        max-width: 200px; 
        max-height: 200px;
    }

    #profil {
        width: 80%; /* Ajuste la largeur */
        margin: 0 auto;
        padding: 5px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .title2 {
        font-size: 1.9rem;
        padding-bottom: 2vh;
    }
    .user-lastname, .donation{
        font-size: 1rem;
    }

    #profil-user, li {
        font-size: 0.9rem;
    }

    #dons-container-profil {
        flex-direction: column;
        width: 100%;
        padding: 5vh 2vw;
    }

    .don-profil {
        max-width: 100%;
        margin: 0 auto 20px;
        padding: 10px;
    }

    .gift {
        font-size: 1rem;
        text-align: center; /* Optionnel */
    }

    .quartiers {
        flex-direction: column; 
        align-items: center;
    }

    #plan {
        width: 90%;
        margin: 10px auto;
    }

    .quartier-info h3, .quartier-info p {
        text-align: center;
    }
    #profil-params-profil {
        display: flex;         
        justify-content: space-between;  
        align-items: center;   
        padding: 10px; 
    }
}


/* @media  screen and (min-width:769px) {
    #dons-container{
        display: flex;
    }
 
    
    #profil-params h1 {
        display: block; /* Affiche uniquement le titre en mode ordinateur */
        /* font-size: 2rem; Ajuste la taille du titre pour le mode ordinateur */
        /* text-align: center; */
    /* } */
    
    /* Masque les images sur les grands écrans */
    /* #profil-params figure { */
        /* display: none; Cache les images en mode ordinateur */
    /* } */
/* }  */